// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.headline{
  font-weight: 100 !important;
  font-family: 'Josefin Slab', serif !important;
}
p{
  letter-spacing: .4px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
